@media only screen and (max-width: 600px) {
    html {
        font-size: 100%;
        font-family: Shabnam-M;
    }
    
    body {
        padding: 11.11vw 4.44vw 0 4.44vw;
        background-color: #141414;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 0 1rem 0;
    }
    
    .name-app {
        font-family: shabnam-b;
        font-size: 18px;
        color: #FEEDED;
    }
    
    .more-text {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        color: #FEEDED;
        font-size: 14px;
        padding: .5rem;
    }
    
    .more {
        display: flex;
        justify-content: center;
    }
    
    .cta {
        color: #E50914;
    }
    
    .cards-category {
        display: grid;
        grid-template-columns: repeat(3, 0fr);
        color: #FEEDED;
        overflow-x: auto;
    }
    
    .card-science, .card-action, .card-news{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14.375rem;
        height: 8.125rem;
        text-align: center;
        margin: .5rem 0.5rem 1rem 0;
        border-radius: 12px;
    }

    a {
        color: #FEEDED;
        text-decoration: none;
    }
    
    .card-science {
        background: url(./black\ adam.png);
        background-size: 200%;
        background-position: 50% 20%;
    }
    
    .card-action {
        background: url(./6\ underground.png);
        background-size: cover;
    }
    
    .card-news {
        background: url(./new.png);
        background-size: 150%;
        background-position: 50% 20%;
    }

    .cards-new-movie, .cards-new-series {
        display: grid;
        grid-template-columns: repeat(5, 7.5rem);
        color: #FEEDED;
        overflow-x: auto;
    }

    .movie-card, .series-card {
        width: 7rem;
        height: 9.375rem;
        display: flex;
        margin: .5rem 0.5rem 1rem 0;
        border-radius: 12px;
    }

    .card-s1 img, .card-m1 img, .card-m2 img, .card-m3 img, .card-m4 img, .card-m5 img, .card-m6 img {
        border-radius: 12px;
        transition: .5s; 
    }

    .card-s1 p, .card-m1 p, .card-m2 p, .card-m3 p, .card-m4 p, .card-m5 p {
        height: 1rem;
        text-align: center;
        white-space:nowrap;
        opacity: 0;
        transition: .5s;
    }

    .card-m1 p {
        position: relative;
        left: -92.5%;
        top: 50%;
    }

    .card-m2 p {
        position: relative;
        left: -90%;
        top: 50%;
    }

    .card-m3 p {
        position: relative;
        left: -96%;
        top: 50%;
    }

    .card-m4 p {
        position: relative;
        left: -50%;
        top: 50%;
    }

    .card-m4 p {
        position: relative;
        left: -80%;
        top: 50%;
    }

    .card-m5 p {
        position: relative;
        left: -80%;
        top: 50%;
    }

    .card-s1:hover p, .card-m1:hover p, .card-m2:hover p, .card-m3:hover p, .card-m4:hover p, .card-m5:hover p {
        opacity: 100%;
    }

    .card-s1:hover img, .card-m1:hover img, .card-m2:hover img, .card-m3:hover img, .card-m4:hover img, .card-m5:hover img {
        filter: brightness(.3);
        transform: scale(1.05);
    }

    .card-s2 {
        background: url();
        background-size: cover;
    }

    .card-s3 {
        background: url(https://m.media-amazon.com/images/M/MV5BMTU1N2I5OTgtNDE2MS00ZTdmLWJlODktNDMwMGVmNzY5NmUxXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_FMjpg_UX1000_.jpg);
        background-size: cover;
    }

    .card-s4 {
        background: url(https://m.media-amazon.com/images/M/MV5BMDRjYWI5NTMtZTYzZC00NTg4LWI3NjMtNmI3MTdhMWQ5MGJlXkEyXkFqcGdeQXVyNTg4MDc4Mg@@._V1_FMjpg_UX1000_.jpg);
        background-size: cover;
    }

    .card-s5 {
        background: url(https://m.media-amazon.com/images/M/MV5BZjBiOGIyY2YtOTA3OC00YzY1LThkYjktMGRkYTNhNTExY2I2XkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_.jpg);
        background-size: cover;
        background-position: 0 90%;
    }
    
    .navbar {
        width: 100%;
        background-color: #141414;
        height: 4.5rem;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        right: 0;

    }

    .nav-options {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-self: center;
        padding: .75rem 1rem 1rem 1rem;
    }

    
    
}